.imageBG::after{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #15182466;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.imageBG{
    position: relative;
    overflow: hidden;
}

.imageBG:hover img{
    transform: scale(1.05);
}